/* 
triangle: &#9662;

green #64c0a9
lightgrey: #f6f8f9

red: #ea524b
orange: #f19a2b
pink: #d863a1
lightgreen: #b0c926
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;

}
body {
    background-color: #f6f8f9;
}
/* header */

header {
    padding: 10px;
}

h1 {
    display: inline-block;
    font-size: 40px;
    font-weight: 800px;
    vertical-align: middle;
}
 .central-img {
    vertical-align: middle;
 } 
/* background */
 .white-bg {
    background-color: #ffffff;
}
.bg-blue {
    background-color: #47adf1;
}
.bg-purple {
    background-color: #a681e7;
}
.bg-green {
   background-color: #64c0a9;
}
.bg-orange {
    background-color: #f19a2b;
}
.bg-pink {
    background-color: #d863a1;
}
.bg-lightgreen {
    background-color: #b0c926;
}
/* Text color */
.white {
    color:#ffffff
}

.red { 
    color: #ea524b;
}
.green {
    color:#64c0a9;
}
/* Parte centrale */

.container{
margin-top: 3%;
width: 80%;
margin-left: 10%;
border-radius: 5px;
padding-left: 5%;
}

.add {
    border-bottom: 3px solid #f6f8f9;
    padding-top: 2%;
    padding-bottom: 1%;
}
.b-rad {
    border-radius: 4px;
}
 .add button {
    border: 0px;
    padding: 1%;
 }

 button.white-bg{
    border: 1px solid #696e6f36;
    color: #797f8136;
 }

/* List */
ul li {
    list-style: none;
    margin: 8px;
    font-size: 14px;
 }

 li:last-child {
    margin-bottom: 20px;
 }
 .badges {
    display: inline-block;
    padding: 3px;
    border-radius: 4px;
    color:#ffffff;
    font-size: 10px;
 }

 /* Circle */
 .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 7px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    border: 2px solid;
    border-radius:50%;
 }
